body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Lato", sans-serif;
  }
  
  body,
  html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }

  body input::-webkit-input-placeholder {
    color: black;
    font-weight: bold;
  }

  body input::-moz-placeholder {
    color: black;
    font-weight: bold;
  }
  
  /* index view image (Logo. Full height) */
  .bgimg-1 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_0397.JPG');
    min-height: 100%;
  }

  /* chef create view image (Logo. Full height) */
  .bgimg-2 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_1056.jpg');
    min-height: 84%;
  }

  /* chef create view image (Logo. Full height) */
  .bgimg-3 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_1056.jpg');
    min-height: 84%;
  }

  /* chef show view image (Logo. Full height) */
  .bgimg-4 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_1056.jpg');
    min-height: 84%;
  }

  /* chef edit view image (Logo. Full height) */
  .bgimg-5 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_1056.jpg');
    min-height: 84%;
  }

  /* chef_profile edit view image (Logo. Full height) */
  .bgimg-6 {
    opacity: 1;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('DSC_1056.jpg');
    min-height: 84%;
  }
  
  /* Adjust the position of the parallax image text */
  
  .w3-display-middle {
    bottom: 45%;
  }
  
  .w3-wide {
    letter-spacing: 10px;
  }
  
  .w3-hover-opacity {
    cursor: pointer;
  }

  .inputbkg {
    /*background-color: rgba(76,175,80,0.9);*/
    background-color: rgba(255,255,255,0.7);
  }

  /*footer style*/
  footer ul {
     list-style-type: none;
  }

  footer .footlink {
    margin:0px;
  }  

  footer .footlink a {
    text-decoration: none;
  }

  footer .iconlist li {
     display: inline-block;
     margin: 0px 5px;
  }  

  footer .iconlist li .w3-btn-floating{
    border: 1px solid;
  }

  /*form validation message*/
  form.cmxform label.error,
    label.error {
      /* remove the next line when you have trouble in IE6 with labels in list */
      color:#f44336;
      /*font-style: italic;*/
    }

  /*shrink the word or icon when hover it*/
  .zk-shrink-hover:hover {
     -moz-transform: scale(0.95);
     -ms-transform: scale(0.95);
     -o-transform: scale(0.95);
     -webkit-transform: scale(0.95);
     transform: scale(0.95);
  }
  
  /* fixed-circle-navbar */
  .fixed-circle-nav {
    position: fixed;
    right: 3em;
    margin-top: 15em;
  }

  .fixed-circle-nav .section--nav a {
    text-decoration: none; 
    /*width: 13px;
    height: 10px;
    margin-top: 1.5em;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;*/
  }